main{
    padding: 32px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
        .font1{
             font-family: cursive;
        }
.hr{
    border: none;
    height: 2px;
    color: black;
    background-color: gray;
    border-style: outset;
}
.logo-icon {
    height: 50px;
    width: 50px;
    
    /*Untuk Foto*/
    background-image: url(../assets/Naga.png);
    background-size: cover;
    border-radius: 50%;
}
nav>a{
    padding-left: 30px;
    padding-right: 30px;
    border: 2px, outset;
    font-family: cursive;
    border-radius: 4px;
}
.div-container{
            text-align: center;
            font-size: 14sp;
            color: black;
            border: 5px outset;
            background-color: white;
}
.banner-container{
    height: 350px;
    width: 100%;
    border: 2px, outset;
}
.display-profile{
    display: flex;
    justify-content: space-around;
}
.profile-text{
    text-align: center;
    flex: 1px;
    text-align: -webkit-center;
}
.profile-banner{
    height: 80px;
    width: 80px;
    border: 1px, solid;


    /*Untuk Foto Profile*/
    background-size: cover;
    border-radius: 50%;
}
        .profile-1{
            background-image: url(../assets/rehan.jpg);
        }

        .profile-2{
            background-image: url(../assets/upi.jpg);
        }

        .profile-3{
            background-image: url(../assets/windah.jpg);
        }
.devider{
    flex: 2px;
}